*{
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

body{
  color: #222;
}

a{
  cursor: pointer;
}

img{
  max-width: 100%;
}

main{
  /*padding: 10px;*/
  /*max-width: 860px;*/
  max-width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /*background-color: #f8f8f8; */
  border-bottom: 1px solid #ddd; 
  margin-bottom: 40px;
}

header a{
  text-decoration: none;
  color: inherit;
  font-size: 0.95rem;
}

header a.logo{
  font-weight: bold;
  font-size: 1.3rem;
  /*padding: 0 35px;*/ 
  
}

header nav{
  display: flex;
  gap: 25px;
  /*padding: 0 35px; */
}

nav .register-btn{
  font-size: 0.95em;
  background-color: #888 ;
  color: #fff;
  border: 1px solid #888;
  padding: 4px 12px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  border-radius: 20px;
}

nav .register-btn:hover{
  background-color: #777 ;
}

nav .login-btn {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

nav .login-btn:hover {
  color: #555;
}

.redirect-message {
  text-align: center;
  margin-top: 10px;
}

.redirect-message p {
  font-size: 14px;
  color: #555;
}

.redirect-message a {
  color: #007bff;
  text-decoration: none;
}

.redirect-message a:hover {
  text-decoration: underline;
}

div.post{
  max-width: 960px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 0 auto 35px;
  padding: 0 15px; 
}

div.post .image img {
  width: 95%;
  height: 220px;  
  object-fit: cover;  
  min-height: 150px;  
  max-height: 240px; 
}

@media screen and (min-width: 600px){
  div.post{
    grid-template-columns: 0.8fr 1.2fr;
  }

  header a.logo {
    padding: 0 40px; 
  }

  header nav {
    padding: 0 40px;
  }
}

div.post div.texts h2{
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.7rem;
  text-decoration: none;
}

div.post div.texts a{
  text-decoration: none;
  color: inherit;
}

div.post p.info{
  margin: 6px 0;
  color: #888;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

div.post p.info a.author{
  color: #888;
}

div.post p.summary{
  font-size: 0.92rem;
  margin: 10px 0;
  line-height: 1.2rem;
  letter-spacing: -0.1px;
}

form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}


input{
  font-size: 0.90em;
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 8px 9px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

button{
  font-size: 0.95em;
  cursor: pointer;
  width: 100%;
  display: block;
  background-color: #444;
  border: 0;
  color: #fff;
  border-radius: 8px;
  padding: 9px 0;
  margin-top: 10px;
}

button:hover{
  background-color: #333;
}



form h2{
  text-align: center;
  margin-bottom: 20px;
}

div.post-page  {
  max-width: 860px;
  margin: 0 auto 35px;
  padding: 0 15px;
  margin-bottom: 50px;
}

div.post-page div.image {
  max-height: 400px;
  overflow: hidden;
  margin-bottom: 20px;
}

div.post-page div.image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-page a{
  color: #333;
  text-decoration: underline;
}

.author-time {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.author {
  font-weight: bold;
}

div.edit-delete{
  margin-bottom: 20px;
}

div.post-page a.edit-btn{
  font-size: 0.95em;
  background-color: #fff;
  color: #888;
  border: 1px solid #888;
  padding: 5px 12px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 5px;
}

div.post-page a.edit-btn:hover{
  font-size: 0.95em;
  background-color: #888 ;
  color: #fff;
  border: 1px solid #888;
  padding: 5px 12px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 5px;
}


div.post-page a.delete-btn{
  font-size: 0.95em;
  background-color: #fff;
  color: #f94144;
  border: 1px solid #f94144;
  padding: 5px 10px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 5px;
}

div.post-page a.delete-btn:hover{
  background-color: #f94144;
  color: #fff ;
  border: 1px solid #f94144;
}

a svg{
  height: 18px;
}

.create-post-page  {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 15px; 
  margin-bottom: 50px;
}

.edit-post-page  {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 15px; 
  margin-bottom: 50px;
}